@tailwind base;
@tailwind components;
@tailwind utilities;

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  place-items: center;
}

.div1 {
  grid-area: 1 / 1 / 2 / 6;
  background-color: white;
}
.div2 {
  grid-area: 2 / 5 / 6 / 6;
  background-color: red;
}
.div3 {
  grid-area: 2 / 2 / 6 / 5;
  background-color: gray;
}
.div4 {
  grid-area: 2 / 1 / 4 / 2;
  background-color: blue;
}
.div5 {
  grid-area: 4 / 1 / 6 / 2;
  background-color: purple;
}

.canvas-grid {
  display: grid;
  min-width: 450px;
  min-height: 450px;
  border-radius: 10px;
  border: black 3px solid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
}

.cell {
  border-radius: 2px;
  border: 2px solid #000;
}

.cell:hover {
  border-width: 4px;
  border-color: purple !important;
  cursor: pointer;
}

.btn-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.btn {
  width: 100%;
  max-width: 300px;
  padding: 0.75rem 1.5rem;
  font-size: 24px;
  border-radius: 2px;
  color: red;
  background: linear-gradient(
    90deg,
    rgba(36, 36, 36, 1) 0%,
    rgba(214, 214, 214, 0.958420868347339) 100%
  );
}

.countdown {
  position: absolute;
  left: 50%;
  top: 10%;
  font-size: 72px;
  font-weight: 900;
  color: red;
}

.score-text {
  font-size: 72px;
  color: gold;
}
