footer {
    display: flex;
    justify-content: center;
  
  }

  .footer {
    grid-area: 10 / 1 / 11 / 5;
    background-color: grey;
    color: $white;
    height: 20px;
    position: absolute;
    bottom: 0;
  }