.canvas-grid {
  display: grid;
  width: 450px;
  height: 450px;
  border-radius: 10px;
  border: black 3px solid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  position: absolute;
}

.canvas-grid-mini {
  display: grid;
  width: 100px;
  height: 100px;
  // max-width: 45px;
  // max-height: 45px;
  border: black 1px solid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
}

.canvas-grid-mini:hover {
  scale: 1.1;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.img-parent-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  gap: 2rem;
  overflow-y: auto;
}

.view-cell {
  pointer-events: none;
}

.cell {
  border-radius: 2px;
  border: 2px solid #000;
}

.cell:hover {
  border-width: 4px;
  border-color: purple !important;
  cursor: pointer;
}
