header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header {
  grid-area: 1 / 1 / 3 / 5;
  background-color: rgb(149, 149, 149);

}

.navContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
