header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: 100px;
}

.header {
  grid-area: 1 / 1 / 2 / 5;
  background-color: $mainBackgroundColor;
  color: $white;
}

.navContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.header div {
  align-self: center;
  font-size: 1.2rem;
}
