header {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.header {
  grid-area: 1 / 1 / 3 / 5;
  background-color: $lightOrangeColor;
  border: 5px solid #1b1b1b;
}

.navContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
