// globala variabler här

$pinkColor: #d64a8b;
$greenColor: #4fa16d;
$purpleColor: #847bb1;
$lightOrangeColor: #ffe6c7;
$lightpinkColor: #eeb2cc;

$black: #2b2b2b;
$white: whitesmoke;

$font-primary: 'Dosis', sans-serif;
$font-secondary: 'Righteous', cursive;

body.light {
  font-family: $font-primary;
  background-color: $lightpinkColor;
  color: $black;

  header {
    background-color: $lightpinkColor;
    color: $black;
  }

  main {
    position: relative;
    flex-direction: column;
    text-align: center;
    color: $black;
  }

  .main {
    grid-area: 2 / 1 / 11 / 4;
    background-color: $lightpinkColor;
  }

  .parent {
    display: grid;
    background-color: lightgrey;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .chat {
    background-color: $lightpinkColor;

    .chat-conatiner {
      color: $white;
    }
  }

  .rooms-container .btn {
    background-color: $lightpinkColor;
  }
}
