.highscores-container {
  // denna är för alla scores
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  // justify-content: center;
  // align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.headings-container {
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.users-heading {
  grid-area: 1 / 1 / 2 / 3;
}

.score-heading {
  grid-area: 1 / 3 / 2 / 4;
  place-self: center;
}

.highscore-container {
  // denna är för var och ett score
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 1rem;
  border: 2px solid red;
}
/*
.div1 { grid-area: 1 / 1 / 2 / 3; }
.div2 { grid-area: 2 / 1 / 3 / 3; }
.div3 { grid-area: 1 / 3 / 3 / 4; }
*/

.highscore-names {
  grid-area: 1 / 1 / 2 / 3;
  font-size: 1.5rem;
  font-family: $font-secondary;
}

.highscore-score {
  font-size: 1.5rem;
  place-self: center;
  grid-area: 1 / 3 / 3 / 4;
}

.highscore-date {
  grid-area: 2 / 1 / 3 / 3;
}

.score-text {
  font-size: 72px;
  color: gold;
}

.medal {
  border-radius: 50%;
  padding: 0.5rem;
}

.first-place {
  color: white;
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}

.second-place {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #d7d7d7 0%,
      #acacac 8%,
      #828282 30%,
      #656565 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #b5b5b5 8%,
      #797979 25%,
      #565656 62.5%,
      #696969 100%
    );
}

.third-place {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}
