//border ev ha samma styling
.countdown {
    position: absolute;
    left: 50%;
    top: 10%;
    font-size: 72px;
    font-weight: 900;
    color: red;
  }
  
  .game-timer {
    position: absolute;
    top: 10px;
    left: 50%;
    font-size: 2rem;
  }